body {
    background: linear-gradient(90deg, green, white);
    font-family: sans-serif;
}

#content {
    background: white;
    width: 400px;
    margin: auto;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}

#eightBall {
    width: 350px;
    height: 350px;
    background: black;
    color: white;
    margin: auto;
    margin-top: 10px;
    border-radius: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

#answer {
    font-size: 25px;
}